*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --blue: #09f;
    --darkBlue: #00f;
    --white: #fff;
}
body{
    position: relative;
}
.content-wave{
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    background: -webkit-linear-gradient(rgb(1, 38, 253), rgb(29, 201, 231) );
}

.content-wave .wave1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('../assets/wave.png');
    background-size: 1000px 100px;
    animation: move1 4s linear infinite;
    z-index: 2;
}
.content-wave .wave2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('../assets/wave.png');
    background-size: 1000px 100px;
    animation: move2 7s linear infinite;
    animation-delay: -5s;
    z-index: 1;
    opacity: .5;
}

@keyframes move2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px ;
    }
}

@keyframes move1{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px ;
    }
}
.main{
    overflow: hidden;
    min-height: 100vh;
    height: 100%;
}

.div-name{
    opacity: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: #fff;
    box-shadow: 5px 5px 20px rgb(142, 142, 143);
    transition: opacity .2s;
    z-index: 1;
}
.div-name form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 15px;
}
.div-name form #name {
    border: none;
    outline: none;
    border-bottom: 2px solid #2af;
    padding: 10px;
    font-size: 20px; 
}

.div-name form #send{
    width: 100%;
    border: none;
    background: #2af;
    color: #fff;
    padding: 10px;
}
.div-name form .err{
    color: #f00;
}
.container{
    position: relative;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    transform: translate(100%) translateY(50%);
    z-index: 10;
}

@keyframes aparecer {
    0%{
        transform: translate(100%) translateY(50%);
    }
    50%{
        transform: translate(-10%) translateY(50%);
    }
    100%{
        transform: translate(0) translateY(50%);
    }
}

@keyframes desaparecer{
    0%{
        transform: translate(0);
        opacity: 1;
    }
    50%{
        transform: translate(-10%);
    }
    100%{
        transform: translate(100%);
        opacity: 0;
    }
}

.container-content{
    width: 80%;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 5px 5px 20px rgb(142, 142, 143);
    z-index: 10;
    overflow: hidden;
}

.load2{
    position: absolute;
    background: #2af;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: 1;
    opacity: 1;
}
.load3{
    position: absolute;
    z-index: 100;
    top: 30%;
    left: 0;
    width: 0%;
    height: 10px;
    transition: all .2s;
}

.title-trivia{
    display: block;
    flex-basis: 100%;
    color: rgb(34, 36, 129);
    padding: 15px;
    font-size: 45px;
}
.content{
    text-align: center;
    position: relative;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(50px, 100px));
}
.load-circle{
    position: absolute;
    padding: 5px;
    left: calc(50% - 25px);
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #2af;
    z-index: 100;
    animation: loop 1s infinite;
}
@keyframes loop{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.title{
    height: fit-content;
}
.title p{
    position: relative;
    z-index: 10;
    font-size: 20px;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    transition: color .2s;
}
.question-answer{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
}

.question-answer > div{
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    border: 1px solid #2af;
    border-radius: 5px;
    transition: background .1s;
}
.quest span{
    font-weight: bold;
}
.quest:hover{
    background: #2af;
}
.quest:hover span{
    color: #fff;
}

#next{
    visibility: hidden;
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid #2af;
    border-radius: 50%;
    background: #2af;
    transition: all .2s;
}
#next:hover{
    cursor: pointer;
    background: #fff;
}
#next:hover > .fas{
    color: #2af;
}
#next .fas{
    color: #fff;
    font-size: 18px;
}

@media screen and (max-width: 500px){
    .container-content{
        width: 100%;
    }
}
.load-content{
    position: relative;
    width: 100%;
    height: 20px;
    border: 1px solid #2af;
    border-radius: 5px;
}
.load{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #2af;
    transition: all .1s;
}

.selected{
    background: #2af;
}
.spanColor{
    color: #2af;
}
.selectedText{
    color: #fff;
}
.modal{
    opacity: 0;
    position: absolute;
    background: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(191, 191, 212);
    z-index: 1;
}

@keyframes aparecerModal {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.modal-content{
    text-align: center;
    position: relative;
    padding: 10px;
    z-index: 2;
}
.modal-content #percent{
    font-size: 20px;
    font-weight: bold;
    color: #2af;
}

.modal-content #meet{
    color:rgb(99, 153, 187);
    font-weight: bold;
}

.modal-content #content-meet{
    padding: 25px;

}

.modal-content__btns{
    display: grid;
    grid-template-columns: 1fr;
}
.modal-content__btns button{
    border: none;
    outline: none;
    padding: 10px;
    transition: background, color .2s;
}
.modal-content__btns #create{
    background: #2af;
    color: #fff;
}
.modal-content__btns > #repeat:hover{
    cursor: pointer;
    background: #fff;
    color: #2af;
}

/* /FOOTER  */

footer{
    display: flex;
    border-top: 1px solid var(--blue);
    background: #fff;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.questions-page{
    border-left: 1px solid var(--blue);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.questions-page span{
   color: var(--blue);
   font-size: 18px;
   flex-basis: 40%;
}
.questions-page button{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    color: var(--white);
    background-color: var(--blue);
}
.contact-section, #copy-section{
    text-align: center;
    flex-basis: 100%;
}

#contact{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: var(--blue);
    justify-content: center;
}

#contact > span{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

#contact-list{
    padding: 8px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#contact-list li{
    list-style: none;
}
#contact-list li a{
    color: var(--blue);
    font-size: 18px;
    padding: 20px;
    transition: color, font-size .1s ease-in;
}

#contact-list li:nth-child(1):hover > a{
    color: rgb(219, 93, 20);
}
#contact-list li:nth-child(2):hover > a{
    color: rgb(12, 194, 52);
}
#contact-list li:nth-child(3):hover > a{
    color: #0cf;
}
#contact-list li:nth-child(4):hover > a{
    color: #00f;
}
#contact-list li:nth-child(5):hover > a{
    color: #0fc;
}
#contact-list li:nth-child(6):hover > a{
    color: #00c0f9;
}
#contact-list li:nth-child(7):hover > a{
    color: rgba(100, 100, 77, 0.933);
}

.language{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 15px;
    text-align: right;
}
.language span{
    color: transparent;
    background: var(--blue);
    -webkit-background-clip: text;
    font-weight: bold;
    animation: cgbg 3s infinite;
}

@keyframes cgbg{
    0%{
        background: var(--blue);
        -webkit-background-clip: text;
    }
    10%{
        background: #09f;
        -webkit-background-clip: text;
    }
    30%{
        background: #25f;
        -webkit-background-clip: text;
    }
    50%{
        background: #00f;
        -webkit-background-clip: text;
    }
    70%{
        background: rgb(7, 7, 155);
        -webkit-background-clip: text;
    }
    80%{
        background: rgb(14, 127, 202);
        -webkit-background-clip: text;
    }
    100%{
        background: #2aff;
        -webkit-background-clip: text;
    }
}

.language label{
    font-size: 15px;
    color: var(--darkBlue);
    text-transform: uppercase;
    font-weight: bold;
}
.language #select-language{
    font-size: 15px;
    color: var(--blue);
    border: 1px solid var(--darkBlue);
}
@media screen and (max-width: 500px){
   
    #contact > span{
        font-size: 15px;
    }
    #contact-list li a{
        font-size: 15px;
        padding: 5px;
    }
}