*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --blue: #09f;
    --darkBlue: #00f;
    --white: #fff;
}
body{
    background: -webkit-linear-gradient(#2af, #0d9aA9) ;
    position: relative;
    
}

.sign-txt{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}
.sign-txt > span{
    text-shadow: 3px 3px 9px rgba(83, 83, 83, .5);
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    color: var(--white);
}
.sign-txt > span > b{
    color: #4dcffa;
}
.sign-txt > p {
    user-select: none;
    color: var(--white);
    font-weight: bold;
    position: absolute;
    animation: animSign 3s both infinite;
}
.sign-txt > p:nth-child(1){
    font-size: 90px;
    top: 85px;
    animation-delay: 2s;
    left: 30px;
}
.sign-txt > p:nth-child(2){
    font-size: 50px;
    animation-delay: 4s;
    top: 10%;
    left: 30%;
}
.sign-txt > p:nth-child(3){
    font-size: 90px;
    animation-delay: .2s;
    top: 30%;
    left: 5%;
}
.sign-txt > p:nth-child(4){
    font-size: 70px;
    animation-delay: 1.2s;
    top: 50%;
    left: 80%;
}
.sign-txt > p:nth-child(5){
    top: 10%;
    animation-delay: 3s;
    left: 90%;
}
.sign-txt > p:nth-child(6){
    font-size: 20px;
    animation-delay: 5s;
    top: 60%;
    left: 20%;
}
.sign-txt > p:nth-child(7){
    font-size: 48px;
    top: 45%;
    animation-delay: 1s;
    left: 50%;
}
.sign-txt > p:nth-child(8){
    font-size: 39px;
    top: 2%;
    animation-delay: 3s;
    left: 70%;
}
.sign-txt > p:nth-child(9){
    font-size: 15px;
    animation-delay: .5s;
    top: 30%;
    left: 75%;
}
.sign-txt > p:nth-child(10){
    font-size: 96px;
    animation-delay: 3.5s;
    top: 65%;
    left: 45%;
}

@keyframes animSign{
    0%{
        transform: translate(0%, 0%);
        opacity: 1;
    }
    50%{
        transform: translate(-15%, 0%);
        opacity: 0;
    }
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

.main{
    overflow: hidden;
    min-height: 100vh;
}

.title{
    margin: 8px;
    text-shadow: 3px 3px 9px rgba(83, 83, 83, .5);
    align-content: center;
    display: inline-flex;
}

.title h1{
    padding: 15px;
    font-size: 35px;
    color: var(--white);
}
.title h1 strong{
    color: var(--darkBlue);
}
.description{
    width: 50%                              ;
    border-left: 3px solid var(--white);
    padding: 15px;
    font-size: 25px;
    color: var(--white);    
}
.div-name{
    position: relative;
    margin: 100px auto;
    width: 70%;
    height: 400px;
    opacity: 1;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(83, 83, 83, .5);
    transition: opacity .2s;
    z-index: 1;  
}
.tops{
    margin-top: 30px;
}
.top{
    position: relative;
    font-size: 30px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: var(--blue);
    z-index: 5;
}
.fa-trophy{
    color: transparent;
    background: -webkit-linear-gradient(#2af, #00f);
    -webkit-background-clip: text;
}

.div-name form{
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    opacity: 1;
    display: grid;
    grid-template-rows: 50px 50px;
    padding: 30px;
}
.div-name form #name {
    border-radius: 5px 5px 0 0;
    color: var(--blue);
    border: none;
    outline: none;;
    background-color: transparent;
    border-bottom: 2px solid #2af;
    font-size: 20px; 
}
.div-name form #name::placeholder{
    color: var(--blue);
}
.div-name form #name:focus{
    background: rgba(34, 170, 255, 0.356);
}

.div-name form #send{
    font-size: 18px;
    width: 100%;
    border: none;
    background: var(--blue);
    color: var(--white);
    padding: 10px;
    border-radius: 0 0 5px 5px;
}
.div-name form .err{
    color: #f00;
}
.container{
    margin: 100px auto 50px auto;
    position: relative;
    display: flex;
    perspective: 400px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    animation-delay: 1s;
    transform: translate(100%, 0);
    z-index: 10;
}

@keyframes aparecer {
    0%{
        transform: translate(100%, 0);
    }
    50%{
        transform: translate( -10%, 0);
    }
    100%{
        transform: translate(0%, 0);
    }
}

@keyframes desaparecer{
    0%{
        transform: translate(0);
        opacity: 1;
    }
    50%{
        transform: translate(-10%);
    }
    100%{
        transform: translate(100%);
        opacity: 0;
    }
}

.container-content{
    display: none;
    width: 80%;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 20px rgba(83, 83, 83, .5);
    z-index: 10;
    overflow: hidden;
}

.load2{
    position: absolute;
    background: rgb(255, 255, 255);
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: 1;
    opacity: 1;
}
.load3{
    position: absolute;
    z-index: 100;
    top: 30%;
    left: 0;
    width: 0%;
    height: 10px;
    transition: all .2s;
}

.title-trivia{
    display: block;
    flex-basis: 100%;
    color: rgb(34, 36, 129);
    padding: 15px;
    font-size: 45px;
}
.content{
    text-align: center;
    position: relative;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(50px, 100px));
}
.load-circle{
    position: absolute;
}

.load-circle, .load-circle-top{
    padding: 5px;
    left: calc(50% - 25px);
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid rgb(38, 0, 255);
    z-index: 100;
    animation: loop 1s infinite;
}
.load-circle-top{
    position: relative;
    top: 10%;
}
@keyframes loop{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.title{
    height: fit-content;
}
.title p{
    position: relative;
    z-index: 10;
    font-size: 20px;
    padding: 15px;
    color: #2af;
    font-weight: bold;
    transition: color .2s;
}
.question-answer{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
}

.question-answer > div{
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    border: 1px solid var(--blue);
    border-radius: 5px;
    transition: background .1s;
}
.quest span{
    font-weight: bold;
}
.quest:hover{
    background: -webkit-linear-gradient(left, rgb(140, 202, 240), rgb(5, 172, 255));
}
.quest:hover span{
    color: var(--white);
}

#next{
    visibility: hidden;
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid #2af;
    border-radius: 50%;
    background: #2af;
    transition: all .2s;
}
#next:hover{
    cursor: pointer;
    background: #fff;
}
#next:hover > .fas{
    color: #2af;
}
#next .fas{
    color: #fff;
    font-size: 18px;
}

.load-content{
    position: relative;
    width: 100%;
    height: 20px;
    border: 1px solid #2af;
    border-radius: 5px;
}
.load{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #2af;
    transition: all .1s;
}

.selected{
    background: #2af;
}
.spanColor{
    color: #2af;
}
.selectedText{
    color: #fff;
}


.modal{
    display: none;
    position: relative;
    width: 90%;
    height: 300px;
    opacity: 0;
    background: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(191, 191, 212);
    z-index: 1;
    transition: all 1s;
}

@keyframes aparecerModal {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.puntuaciones{
    background-color: var(--white);
    top:0;
    left: 0;
    width: 90%;
    height: 400px;
    border-radius: 10px;
    margin: 10px auto;
    overflow: auto;
    padding: 30px;
    position: relative;
    transition: all .5s;
    z-index: 100;
}

.hide{
    padding: 0px;
    height: 0px;
}

.table-content{
    width: inherit;
}
.table-content{
    display: grid;
    grid-template-columns: 50px repeat(2, 1fr);  
}
.table-content span{
    color: var(--blue);
    padding: 15px;
    border: 1px solid var(--blue);
}

.table-content-esp{
    display: grid;
    grid-template-columns: 50px repeat(2, 1fr);
    justify-items: space-evenly;
}
.table-content-esp span{
    background-color: var(--blue);
    padding: 15px;
    color: var(--white);
}

.modal-content{
    overflow: hidden;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    z-index: 2;
}

@keyframes moveto{
    from{
        height: 100%;
    }
    to{
        height: 0px;
        padding: 0;
    }
}
.modal-content #percent{
    font-size: 20px;
    font-weight: bold;
    color: #2af;
}
#percent b {
    color: #25f;
}
.modal-content #meet{
    color:rgb(99, 153, 187);
    font-weight: bold;
}

.modal-content #content-meet{
    padding: 25px;

}
.modal-closes{
    width: 100%;
    align-items: center;
    display: flex;
}
.close-modal{
    display: none;
    padding: 10px;
    text-align: right;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    color: var(--blue);
    font-weight: bold;
}
.modal-content__btns{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    align-items: center;
}
.modal-content__btns button{
    border: none;
    outline: none;
    padding: 10px;
    transition: background, color .2s;
}
.btn-opt{
    opacity: 1;
    cursor: pointer;
    color: var(--blue);
    transition: opacity .5s;
}
.btn-opt > i {
    padding: 0 10px;
}
.modal-content__btns #create{
    background: #2af;
    border-radius: 5px;
    color: #fff;
}
.modal-content__btns > #repeat:hover{
    cursor: pointer;
    background: #fff;
    color: #2af;
}

/* /FOOTER  */

footer{
    position: relative;
    z-index: 10;
    display: flex;
    border-top: 1px solid var(--blue);
    background: #fff;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.questions-page{
    border-left: 1px solid var(--blue);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.questions-page span{
   color: var(--blue);
   font-size: 18px;
   flex-basis: 40%;
}
.questions-page button{
    border: 1px solid var(--blue);
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    color: var(--white);
    background-color: var(--blue);
}
.questions-page button:hover{
    color: var(--blue);
    background-color: var(--white);
}
.contact-section, #copy-section{
    text-align: center;
    flex-basis: 100%;
}

#contact{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: var(--blue);
    justify-content: center;
}

#contact > span{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

#contact-list{
    padding: 8px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#contact-list li{
    list-style: none;
}
#contact-list li a{
    color: var(--blue);
    font-size: 18px;
    padding: 20px;
    transition: color, font-size .1s ease-in;
}

#contact-list li:nth-child(1):hover > a{
    color: rgb(219, 93, 20);
}
#contact-list li:nth-child(2):hover > a{
    color: rgb(12, 194, 52);
}
#contact-list li:nth-child(3):hover > a{
    color: #0cf;
}
#contact-list li:nth-child(4):hover > a{
    color: #00f;
}
#contact-list li:nth-child(5):hover > a{
    color: #0fc;
}
#contact-list li:nth-child(6):hover > a{
    color: #00c0f9;
}
#contact-list li:nth-child(7):hover > a{
    color: rgba(100, 100, 77, 0.933);
}

.language{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 15px;
    text-align: right;
}
.language span{
    color: transparent;
    background: var(--blue);
    -webkit-background-clip: text;
    font-weight: bold;
    animation: cgbg 3s infinite;
}

@keyframes cgbg{
    0%{
        background: var(--blue);
        -webkit-background-clip: text;
    }
    10%{
        background: #09f;
        -webkit-background-clip: text;
    }
    30%{
        background: #25f;
        -webkit-background-clip: text;
    }
    50%{
        background: #00f;
        -webkit-background-clip: text;
    }
    70%{
        background: rgb(7, 7, 155);
        -webkit-background-clip: text;
    }
    80%{
        background: rgb(14, 127, 202);
        -webkit-background-clip: text;
    }
    100%{
        background: #2aff;
        -webkit-background-clip: text;
    }
}

.language label{
    font-size: 15px;
    color: var(--darkBlue);
    text-transform: uppercase;
    font-weight: bold;
}
.language #select-language{
    font-size: 15px;
    color: var(--blue);
    border: 1px solid var(--darkBlue);
}
@media screen and (max-width: 480px){
    .container-content{
        width: 100%;
    }
    #contact > span{
        font-size: 15px;
    }
    #contact-list li a{
        font-size: 15px;
        padding: 5px;
    }
    .div-name{
        width: 100%;
    }
    .puntuaciones{
        background-color: var(--white);
        top:0;
        left: 0;
        overflow: auto;
        width: 100%;
        height: 100vh;
        padding: 30px;
        position: absolute;
        transition: all .5s;
        z-index: 100;
    }
    .close-modal{
        display: inline-block;
    }
    .hide{
        padding: 0px;
        width: 0%;
    }
    .modal{
        width: 100%;
    }
    .description{
        width: 100%;
    }
}